*,
body,
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  background: url("/image.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.game-box {
  margin: auto;
  height: auto;
  /* min-height: 350px; */
  width: auto;
  background-color: #026742;
}
.screen-board {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  height: 25%;
  width: 90%;
  background-color: #026742;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3% 0 3%;
}
.broad-text,
.box {
  font-size: xx-large;
  color: white;
  border: 4px solid black;
  border-radius: 16px;
  padding: 2.5%;
}
.grid-box {
  height: 63%;
  background-color: #252632;
  margin: 4%;
  overflow: auto;
}
.row {
  display: flex;
  width: 100%;
}
.box {
  flex: 1;
  background-color: #565656;
}

.render-box {
  background-color: white;
  color: black;
}
.selected {
  color: black;
  background-color: rgb(86, 203, 213);
}
.start-btn {
  padding: 24px 68px;
  border-radius: 38px;
  font-size: x-large;
  color: #5a5151;
  cursor: pointer;
}
.start-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.modal {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-body {
  height: 40%;
  background-color: white;
  width: 50%;
  border-radius: 16px;
  border: 4px solid #f1f1f1;
}
.hidden {
  display: none;
}
.game-over-score {
  color: black;
}
.restart-btn {
  margin-top: 2%;
  border-radius: 9%;
  padding: 3% 5%;
  font-size: x-large;
  cursor: pointer;
}
#target {
  background-color: #ecd737;
  /* border: 0; */
}
@media screen {
}
@media only screen and (max-width: 600px) {
  .broad-text,
  .box {
    font-size: x-large;
  }
}
